@charset "UTF-8";
/* ------- Reset all CSS Styles */
* {
    box-sizing: border-box;
}

.footer_img_center img {
    margin: 0 auto;
    text-align: center;
}

.footer_img {
    width: 290px;
    height: 80px;
}

.footer_menu_1, .footer_menu_2, .footer_menu_3, .footer_menu_4 {
    display: inline-block;
    width: 210px;
    margin: 50px 15px;
    text-align: center;
}

.foot-wrap {
    background-color: #5b5b5b;
    width: 1100px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 14px;
}

.foot-menu {
    margin: 0 auto;
    display: flex;
    width: 840px;
}

.footer_h3{
    text-align: left;
}

.footer_1, .footer_2, .footer_3, .footer_4 {
    text-align: center;
}

.footer_1, .footer_2, .footer_3, .footer_4 li {
    text-align: left;

    line-height: 30px;
}

.footer_ul {
    list-style: none;
}

.footer_li .footer_a{
    text-decoration: none;
}

.footer_a:link {
    color: #ffffff;
}

.footer_a:visited {
    color: #ffffff;
}

.footer_a:hover {
    color: #ccfffc;
}