<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Crea</title>
    <link rel="stylesheet" href="/css/base.css">

</head>
<body>
    <p>ログインしていないユーザーはこのページにアクセスする事が出来ません</p>
    <p>トップページに戻るには<a href="/">こちら</a></p>
    <p>会員登録は<a href="/sign-up">こちら</a></p>
    <p>既に会員登録している方は<a href="/sign-in">こちら</a></p>
</body>
</html>