<!doctype html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>パスワードの再設定</title>
  <link rel="stylesheet" href="/css/password_forget.css">
  <link rel="stylesheet" href="/css/reset.css">
</head>

<body>
  <div class="wrap">
    <h1><img src="/img/logo/logo.png" alt="ロゴ" class="logo"></h1>

    <div class="msg_div">
      <h2>パスワードの再設定</h2>
      <p class="message">パスワード再設定メール送信のため、登録されたメールアドレスを入力してください。</p>
    </div>
    <form id="pas_form02" action="#">
      <input id="pas_input02" type="text" placeholder="メールアドレス">
    </form>
    <div class="back">
      <a href="<%- url %>">
        <p>戻る</p>
      </a>
    </div>
    <div class="send">
      <a href="<%- url %>">
        <p>送信</p>
      </a>
    </div>
  </div>
</body>

</html>
