<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Crea/SNS</title>
    <!-- MDB icon -->
    <link rel="icon" href="/bootstrap/img/crea_favicon.png" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/bootstrap/css/style.css">
    <script src="/js/jquery1.js"></script>
    <script src="/ajax/view/ajax_get_timeline.js"></script>
</head>

<body>

<!-- Start your project here-->
<%-include("../base/header")%>
<input type="hidden" id="search-word" value="<%-word%>">


<div class="container my-5">
    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-4 pb-2">SNS</h2>
    <!-- Section description -->


    <!--Section: Content-->

    <!--Section: Content-->

    <!--Section: Content-->
    <div id="result">

    </div>


</div>



<%-include("../base/footer")%>

<!-- End your project here-->

<!-- jQuery -->
<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/bootstrap/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/bootstrap/js/mdb.min.js"></script>
<!-- Your custom scripts (optional) -->
<script type="text/javascript"></script>

</body>

</html>
