<!-- Footer -->
<footer class="page-footer font-small pt-4 z-depth-2">


    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left ">
        <a class="d-block mx-auto" href="#"><img src="/bootstrap/img/mojilogo.png" alt=""
                                                 class="img-rounded d-block mx-auto mb-3 pb-4" width="200px"></a>

        <!-- Grid row -->
        <div class="row justify-content-md-around  text-dark">

            <!-- Grid column -->
            <div class="col-md-2 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase mb-3 btext font-weight-bold">アドレス</h5>
                <ul class="list-unstyled text-dark">
                    <h6>住所</h6>
                    <li class="mb-3">
                        〒160-0023
                        東京都新宿区西新宿1-7-3
                    </li>
                    <h6>電話番号</h6>
                    <li class="mb-3">
                        03-3344-1010
                    </li>
                    <h6>メールアドレス</h6>
                    <li class="mb-3">
                        crea_offcial@example.com
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">
                <!-- Links -->
                <h5 class="text-uppercase mb-3 btext font-weight-bold">Crea運営</h5>
                <ul class="list-unstyled">
                    <li class="mb-2 text-dark">
                        <a href="#!" class="text-dark">利用規約</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-dark">プライバシーポリシー</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-dark">特定商取引法に基づく表記</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-dark">会社概要</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-dark">採用情報</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">
                <!-- Links -->
                <h5 class="text-uppercase mb-3 btext font-weight-bold">Creaを知る</h5>
                <ul class="list-unstyled text-dark">
                    <li class="mb-2">
                        <a href="#!" class="text-dark">ご利用ガイド</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-dark">チュートリアル</a>
                    </li>
                    <li class="mb-2">
                        <a href="/qanda" class="text-dark">Q&A</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-dark">お問い合わせ</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">
                <!-- Links -->
                <h5 class="text-uppercase mb-3 btext font-weight-bold">SNS</h5>
                <ul class="list-unstyled text-dark">
                    <li class="mb-2">
                        <a href="#!" class="text-dark">Instagram</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://twitter.com/Crea_hew" target="_blank" rel="noopener noreferrer"
                           class="text-dark">Twitter</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-dark">Facebook</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-dark white">
        <small> ©Crea</small>
    </div>
</footer>