<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top white">
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/"><img src="/bootstrap/img/mojilogo.png" alt="" class="img-rounded center-block" width="100px"></a>

    <!-- Collapse button -->
    <button class="navbar-toggler text-black" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse text-dark" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto ">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle  text-dark" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">カスタマイズ</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item " href="/customize/1">ポーチ</a>
            <a class="dropdown-item " href="/customize/2">パスケース</a>
            <a class="dropdown-item " href="/customize/3">Tシャツ</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link  text-dark" href="/view/1">SNS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-dark" href="/mypage">マイページ</a>
        </li>
      </ul>

      <div class="navbar-right">
        <ul class="navbar-nav ml-auto nav-flex-icons mr-auto">

          <!-- サインイン↓ -->
          <li class="nav-item">
            <a href="/sign-in" class="nav-link waves-effect text-muted">
              <i class="fas fa-user-circle fa-l"></i>
            </a>
          </li>

          <li class="nav-item">
            <a href="/cart" class="nav-link waves-effect text-muted">
              <i class="fas fa-shopping-cart fa-l"></i>
            </a>
          </li>

        </ul>
      </div>
      </ul>

    </div>
    <!-- Collapsible content -->
  </div>

</nav>
<!--/.Navbar-->
