<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Crea</title>
    <link rel="stylesheet" href="/css/base.css">

</head>

<body>
<!--header表示用-->
<%- include("../base/header") %>
<main>
    <!--編集可能エリア-->
    <form action="./withdraw/confirm" method="post">
        <button type="submit">退会</button>
    </form>
    <!--ここまで-->
</main>
<!--footer表示用-->
<%- include("../base/footer") %>
</body>

</html>
